.field {
  position: relative;
  max-width: fit-content;
  margin: 0 auto;
}

.status {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex; /* Добавлено */
  align-items: center; /* Добавлено */
  justify-content: center; /* Добавлено */
  -webkit-user-select: none;
  font-size: calc(20px + 1vw);
}
.lose {
  background-color: hsla(0, 100%, 41%, 0.83)
}

.win {
  background-color: hsla(128, 100%, 49%, 0.6);
}

.field table{
  margin: 0 auto;
  border-collapse: revert;
  border-spacing: 0; 
  z-index: 0;
  position: relative;
}

.field td {
height: 25px;
width: 25px;
background-color: #bdbdbd;
border: 2px solid #7b7b7b;
position: relative;
}

.field td:not(.open){
  border-top-color: #fff;
  border-left-color: #fff;
}

/* .field td:active {
background-color: #363535; 
border: 2px solid #7b7b7b; 
} */

.field td.open{
  border: 2px solid #8b8b8b;
  background-color: #bebebe;
}

.field td[data-mine] {
  border: 2px solid #444444;
  background-image: url("../../../../assets/images/mine.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.field .flag {
  background-image: url("../../../../assets/images/flag.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.field td::after {
content: attr(data-count);
font-family: "Press Start 2P", monospace;
font-size: 16px;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
display: flex;
align-items: center;
justify-content: center;
}



@media (max-width: 800px) {
.field td{
  height: 20px;
  width: 20px;
}
}

@media (max-width: 500px) {
.field td{
  height: 16px;
  width: 16px;
}
}

@media (max-width: 500px) {
.field td{
  height: 12px;
  width: 12px;
}
}

.field td[data-count="1"]::after {
  color: #007B7B;
}

.field td[data-count="2"]::after {
  color: #00a732;
}

.field td[data-count="3"]::after {
  color:  #88ff00;
}

.field td[data-count="4"]::after {
  color: #c8ff00;
}

.field td[data-count="5"]::after {
  color: #ffa600;
}

.field td[data-count="6"]::after {
  color: #ff5e00;
}

.field td[data-count="7"]::after {
  color: #ff2600;
}

.field td[data-count="8"]::after {
  color: #000000;
}
