.field table{
  margin: 0 auto;
  border-collapse: revert;
  border-spacing: 0; 
}

.field td {
height: 30px;
width: 30px;
background-color: #bdbdbd;
border: 2px solid #7b7b7b;
position: relative;
}

.field td:not(.open){
  border-top-color: #fff;
  border-left-color: #fff;
}

/* .field td:active {
background-color: #363535; 
border: 2px solid #7b7b7b; 
} */

.field td.open{
border: 2px solid #8b8b8b;
background-color: #bebebe;
}

.field td[data-mine] {
border: none;
background-image: url("../../../../assets/images/mine.png");
background-repeat: no-repeat;
background-size: contain;
}

.field .flag {
  background-image: url("../../../../assets/images/flag.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.field td::after {
content: attr(data-count);
font-family: "Press Start 2P", monospace;
font-size: 16px;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
display: flex;
align-items: center;
justify-content: center;
}



@media (max-width: 800px) {
.field td{
  height: 20px;
  width: 20px;
}
}

@media (max-width: 500px) {
.field td{
  height: 16px;
  width: 16px;
}
}

@media (max-width: 500px) {
.field td{
  height: 12px;
  width: 12px;
}
}

.field td[data-count="1"]::after {
color: blue;
}

.field td[data-count="2"]::after {
color: green;
}

.field td[data-count="3"]::after {
color: red;
}

.field td[data-count="4"]::after {
color: #00007B;
}

.field td[data-count="5"]::after {
color: #7B0000;
}

.field td[data-count="6"]::after {
color: #007B7B;
}

.field td[data-count="7"]::after {
color: #000;
}

.field td[data-count="8"]::after {
color: #7B7B7B;
}
